@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Smooch&family=Water+Brush&display=swap');
body {
background: #e2e1e0;
text-align: center;
font-family: Roboto;
}

.card {
background: #fff;
border-radius: 2px;
display: inline-block;
height: 300px;
margin: 1rem;
position: relative;
width: 300px;
}

.card-1 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-1:hover .overlay {
opacity: .50;
background-color: white;
  
}
#mug1{
background-image: url(/assets/images/mug1.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#mug2{
background-image: url(/assets/images/mug2.jpg);
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
#mug3{
background-image: url(/assets/images/mug5.jpg);
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
#mug4{
background-image: url(/assets/images/mug7.jpg);
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #008CBA;
}
